html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



.hidden {
    display: none;
}

@font-face {
    font-family: "BigShouldersLight";
    src: url("BigShouldersDisplay-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "BigShouldersExtraLight";
    src: url("BigShouldersDisplay-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "BigShouldersRegular";
    src: url("BigShouldersDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 5% 5% 5%;
    grid-template-rows: 2% 98%;
    gap: 0.75rem;
    grid-row: 1/2;
    border: 1px solid black;
    font-family: "BigShouldersRegular";
}

ul {
    list-style-type: none;
}

/* Navbar */
/* .navbar {
    display: grid;
    grid-template-columns: 2% 2% 2% 2%;
    grid-template-rows: 2% 98%;
    grid-row: 1/2;
    border: 1px solid black;
} */

.navlist {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 1rem;
    list-style: none;
    grid-column: 1/5;
}

.navlist>li {
    font-size: large;
}

.navlist>li:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

#navFile {
    grid-column: 1/2;
}

#navEdit {
    grid-column: 2/3;
}

#navView {
    grid-column: 3/4;
}

#navHelp {
    grid-column: 4/5;
}

/* Menus */

.fileMenu,
.editMenu,
.viewMenu,
.helpMenu {
    border: 1px black solid;
    grid-row: 2/3;
}